#divLoading {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: blue;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(254, 254, 255, .65);
	z-index: 9999;
	display: none;
}

#divLoading img {
	width: 150px;
	height: 150px;
}

.notBlock{
	display: none;
}

.div-sucursales {
	cursor: pointer;
	transition: transform 0.3s ease; /* Agrega una transición suave al efecto */
}
  
.div-sucursales:hover {
	transform: scale(1.05); /* Escala el div al 120% de su tamaño original */
}

.div-sucursales:active {
	background-color: #DEF0FF;
	transform: scale(1.025); /* Escala el div al 90% de su tamaño original durante el clic */
  }
/* h1, h2, h3, h4, h5, h6 {
	font-family: 'Public Sans';
}

p {
	font-family: 'Public Sans';
}

a {
	font-family: 'Public Sans';
}

body {
	font-family: 'Public Sans';
} */




