#divLoading {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: blue;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(254, 254, 255, .65);
	z-index: 9999;
	display: none;
}

#divLoading img {
	width: 150px;
	height: 150px;
}

.notBlock{
	display: none;
}

.div-sucursales {
	cursor: pointer;
	transition: transform 0.3s ease; /* Agrega una transición suave al efecto */
}
  
.div-sucursales:hover {
	background-color: #B6DDFF;
	transform: scale(1.05); /* Escala el div al 120% de su tamaño original */
}

.div-sucursales:active {
	background-color: #6ABBFF;
	transform: scale(1.025); /* Escala el div al 90% de su tamaño original durante el clic */
  }

.div-usuarios {
	cursor: pointer;
	transition: transform 0.3s ease; /* Agrega una transición suave al efecto */
}
  
.div-usuarios:hover {
	background-color: #B9FFB6;
	transform: scale(1.05); /* Escala el div al 120% de su tamaño original */
}

.div-usuarios:active {
	background-color: #87FF81;
	transform: scale(1.025); /* Escala el div al 90% de su tamaño original durante el clic */
}

.div-categorias {
	cursor: pointer;
	transition: transform 0.3s ease; /* Agrega una transición suave al efecto */
}
  
.div-categorias:hover {
	background-color: #fff9e8;
	transform: scale(1.05); /* Escala el div al 120% de su tamaño original */
}

.div-categorias:active {
	background-color: #ffefa7;
	transform: scale(1.025); /* Escala el div al 90% de su tamaño original durante el clic */
}

.div-servicios {
	cursor: pointer;
	transition: transform 0.3s ease; /* Agrega una transición suave al efecto */
}
  
.div-servicios:hover {
	background-color: #ffe8e8;
	transform: scale(1.05); /* Escala el div al 120% de su tamaño original */
}

.div-servicios:active {
	background-color: #ffa7a7;
	transform: scale(1.025); /* Escala el div al 90% de su tamaño original durante el clic */
}

.div-horas {
	height: 50px;
	cursor: pointer;
	transition: transform 0.3s ease; /* Agrega una transición suave al efecto */
	border: #efc7ff 3px solid;
}
  
.div-horas:hover {
	background-color: #F0CAFF;
	transform: scale(1.05); /* Escala el div al 120% de su tamaño original */
}

.div-horas:active {
	background-color: #DF8EFF;
	transform: scale(1.025); /* Escala el div al 90% de su tamaño original durante el clic */
}

.centrarHora{
	cursor: pointer; 
	position: absolute; 
	top: 25%; 
	left: 40%;
}

.div-disabled{
	pointer-events:none; 
	color: gray; background-color: rgb(243, 243, 243);
}
/* h1, h2, h3, h4, h5, h6 {
	font-family: 'Public Sans';
}

p {
	font-family: 'Public Sans';
}

a {
	font-family: 'Public Sans';
}

body {
	font-family: 'Public Sans';
} */




